<p>  Hello <%= @owner.full_name %>,</p>
<p>  You've received a favouriting to your question from <%= @favourite.user_full_name %>.</p>
<p>  Question title: <%= @question.title %></p>
<p>  Regards,</p>
<p>  Awesome Answers Team</p>
